@import "variables";
.where__we {
  width: 85%;
  margin: 20px 0 0 10px;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;

  .ClockMap {
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }
  .addresses {
    margin-bottom: 10px;
  }
  .addresses {
    display: flex;
    align-items: center;
    color: $color;
  }
  .addresses span {
    margin-left: 5px;
  }
  .rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    & div {
      margin-left: 10px;
    }
    & div p {
      color: $color;
    }
    .Star {
      color: $color-for-star;
    }
  }
}
