.footer {
  width: 1200px;
  margin: 0 auto;
  height: 150px;
  .social {
    width: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  img {
    width: 40px;
    height: 40px;
    display: block;
    color: #fff;
    filter: invert(1);
  }
  .about {
    display: flex;
    color: grey;
    width: 800px;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    font-size: 24px;
    font-family: "Roboto";
    margin-bottom: 50px;
    cursor: pointer;
    :hover {
      color: #fff;
    }
  }
  .desc {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 40px;
  }
}
hr {
  border: none;
  background-color: grey;
  height: 1px;
}
