.ContactInformationForClient {
  width: 600px;
  border-left: 5px solid grey;
  margin-top: 50px;
  padding: 20px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: grey;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-left: 10px;
    span {
      color: lightblue;
      font-size: 16px;
    }
}
