.where__we {
  font-family: "Roboto", sans-serif;
  width: 300px;
  margin: 20px 0 0 10px;
  font-size: 18px;
  border-left: solid 5px grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: grey;
}
