.cards {
  width: 1200px;
  margin: 40px auto;
  .card {
    display: flex;
    box-shadow: 0 1px 28px 7px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    img {
      width: 255px;
      height: 175px;
      border-radius: 10px;
    }
    a {
      text-decoration: none;
    }
    .NavLink-Style div {
      color: white;
    }
    .NavLink-Style div:hover {
      color: #969696;
    }
    .card-name {
      width: 500px;
      font-size: 44px;
      font-family: "Roboto", serif;
      color: #fff;
      margin-left: 10px;
    }
    .card-address {
      width: 100%;
      margin-left: 10px;
      color: rgb(226, 221, 221);
      font-size: 18px;
    }
    .falsch {
      margin: 50px 0 0 0;
    }
    .card-rating {

    }
  }
}
